<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: head"></head>
<body class="main-body">

    <div th:include="includes :: header"></div>

    <section class="container col-md-8 form-container" id="">
        <h3>Add a Movie</h3>
        <form action="/movie/edit/addMovie" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" firstName="title" class="form-control" id="title" placeholder="Movie Title" required="required"/>
            </div>
            <div class="form-group">
                <label for="genre">Genre</label>
                <input type="text" firstName="genre" class="form-control" id="genre" placeholder="Movie Genre"/>
            </div>
            <div class="form-group">
                <label for="imdburl">IMDB URL</label>
                <input type="url" firstName="imdburl" class="form-control" id="imdburl" placeholder="IMDB URL"/>
            </div>
            <div class="form-group">
                <label for="releasedate">Release Date</label>
                <select class="form-control" firstName="releasedate" id="age">
                    <option value="0">Release Month</option>
                    <option>January</option>
                    <option>February</option>
                    <option>March</option>
                    <option>April</option>
                    <option>May</option>
                    <option>June</option>
                    <option>July</option>
                    <option>August</option>
                    <option>September</option>
                    <option>October</option>
                    <option>November</option>
                    <option>December</option>
                </select>
                <input type="text" firstName="releasedate" class="form-control" id="releasedate" placeholder="Release Year"/>
            </div>

            <button type="submit" class="btn btn-primary">Add Movie!</button>
        </form>
    </section>

</body>
</html>