<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Limelight|Taviraj" rel="stylesheet"/>
    <title>MovieNite</title>
</head>
<body>

    <div th:fragment="header">
        <header class="navbar navbar-inverse navbar-fixed-top">
            <nav class="container">
                <ul class="list-inline list-unstyled">
                    <li class="navbar-brand"><span class="glyphicon glyphicon-facetime-video"></span><b class="logo"><a th:href="@{/}">MovieNite</a></b></li>

                    <li class="navbar-right">
                        <ul class="list-inline list-unstyled nav-list">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/movie/edit/addMovie}">Add a Movie</a></li>
                            <li><form th:action="@{/logout}" method="post"><input class="" id="logout" type="submit" value="Log Out"/></form></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

</body>
</html>