<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: head"></head>

<body class="main-body">

    <header th:include="includes :: header"></header>

    <div class="jumbotron">
        <div class="container">
            <h1>It's MovieNite!</h1>
            <p>Log your favorite (or not-so-favorite) movies and share reviews with others.</p>
        </div>
    </div>

    <main class="container">
        <!--Photo by Felix Mooneeram on Unsplash-->
        <div class="row">
            <div class="container movies-list">

                <h3 class="latest-h3">Latest Movies</h3>
                <div class="col-md-4" th:each="movie : ${movies}">
                    <div class="panel panel-primary movie-box">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="${movie.title}"></h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>Genre: <span th:text="${movie.genre}"></span></li>
                                <li><a th:href="${movie.imdburl}" target="_blank">View on IMDB</a></li>
                                <li>Release Date: <span th:text="${movie.releasedate}"></span></li>
                                <li><a th:href="'/movie/' + @{${movie.id}}">Show me the Reviews!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <div class="container row bottom-row form-container">

        <section class="container col-md-6 feature">
            <div class="feature-bg"></div>
                <!--Photo by Alex Munsell on Unsplash-->

            <div class="feature-body">
                <h3>Feature Film</h3>
                <h3 class="feature-title" th:text="${feature.title}"></h3>
                <ul class="list-unstyled">
                        <li><b>Genre: </b><span th:text="${feature.genre}"></span></li>
                        <li><a th:href="${feature.imdburl}" target="_blank">View on IMDB</a></li>
                        <li><b>Release Date: </b><span th:text="${feature.releasedate}"></span></li>
                        <li><b>Recent Reviews: </b>
                            <ul class="list-unstyled feature-reviews" th:each="review : ${feature.reviews}">
                                <li><b>By: </b> <span th:text="${review.reviewername}"></span></li>
                                <li><b>Stars: </b> <span th:text="${review.rating}"></span></li>
                                <li><b>Reviewer's Age: </b> <span th:text="${review.reviewerage}"></span></li>
                            </ul>
                        </li>
                    </ul>
                </div>

        </section>
    </div>

</body>
</html>