<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Limelight|Taviraj" rel="stylesheet"/>
    <title>MovieNite</title>
</head>
<body class="main-body">

    <header class="navbar navbar-inverse navbar-fixed-top">
        <nav class="container">
            <ul class="list-inline list-unstyled">
                <li class="navbar-brand"><span class="glyphicon glyphicon-facetime-video"></span><b class="logo"><a href="/">MovieNite</a></b></li>

                <li class="navbar-right">
                    <ul class="list-inline list-unstyled nav-list">
                        <li><a href="/">Home</a></li>
                        <li><a href="#add-movie">Add a Movie</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <div class="jumbotron">
        <div class="container">
            <h1>It's MovieNite!</h1>
            <p>Log your favorite (or not-so-favorite) movies and share reviews with others.</p>
        </div>
    </div>

    <main class="container">
        <!--Photo by Felix Mooneeram on Unsplash-->
        <div class="row">
            <div class="container movies-list">

                <h3 class="latest-h3">Latest Movies</h3>
                <div class="col-md-4" th:each="movie : ${movies}">
                    <div class="panel panel-primary movie-box">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="${movie.title}"></h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li>Genre: <span th:text="${movie.genre}"></span></li>
                                <li><a th:href="${movie.imdburl}" target="_blank">View on IMDB</a></li>
                                <li>Release Date: <span th:text="${movie.releasedate}"></span></li>
                                <li><a th:href="'/movie/' + @{${movie.id}}">Show me the Reviews!</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <div class="container row bottom-row form-container">
        <section class="container col-md-6" id="add-movie">
            <h3>Add a Movie</h3>
            <form action="/addMovie" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" class="form-control" id="title" placeholder="Movie Title" required="required"/>
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" name="genre" class="form-control" id="genre" placeholder="Movie Genre"/>
                </div>
                <div class="form-group">
                    <label for="imdburl">IMDB URL</label>
                    <input type="url" name="imdburl" class="form-control" id="imdburl" placeholder="IMDB URL"/>
                </div>
                <div class="form-group">
                    <label for="releasedate">Release Date</label>
                    <select class="form-control" name="releasedate" id="age">
                        <option value="0">Release Month</option>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                    <input type="text" name="releasedate" class="form-control" id="releasedate" placeholder="Release Year"/>
                </div>

                <button type="submit" class="btn btn-primary">Add Movie!</button>
            </form>
        </section>
        <section class="container col-md-6 feature">
            <div class="feature-bg"></div>
                <!--Photo by Alex Munsell on Unsplash-->

            <div class="feature-body">
                <h3>Feature Film</h3>
                <h3 class="feature-title" th:text="${feature.title}"></h3>
                <ul class="list-unstyled">
                        <li><b>Genre: </b><span th:text="${feature.genre}"></span></li>
                        <li><a th:href="${feature.imdburl}" target="_blank">View on IMDB</a></li>
                        <li><b>Release Date: </b><span th:text="${feature.releasedate}"></span></li>
                        <li><b>Recent Reviews: </b>
                            <ul class="list-unstyled feature-reviews" th:each="review : ${feature.reviews}">
                                <li><b>By: </b> <span th:text="${review.reviewername}"></span></li>
                                <li><b>Stars: </b> <span th:text="${review.rating}"></span></li>
                                <li><b>Reviewer's Age: </b> <span th:text="${review.reviewerage}"></span></li>
                            </ul>
                        </li>
                    </ul>
                </div>

        </section>
    </div>

</body>
</html>