<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="includes :: head"></head>
<body class="main-body">

    <div th:include="includes :: header"></div>

    <main class="">

        <section class="container detail-container">
            <div class="col-md-8 detail-body">
                <h3 class="detail-heading">Movie Details</h3>
                <div class="panel panel-primary detail-panel">
                    <div class="panel-heading big-panel">
                        <h3 class="panel-title" th:text="${movie.title}"></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>Genre: <span th:text="${movie.genre}"></span></li>
                            <li><a th:href="${movie.imdburl}" target="_blank">View on IMDB</a></li>
                            <li>Release Date: <span th:text="${movie.releasedate}"></span></li>
                        </ul>
                        <div><a th:href="'/movie/edit/' + @{${movieId}}">Edit this Movie</a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container reviews-container">
            <h3 class="review-top">Reviews for this film:</h3>
            <div class="panel panel-default" th:each="review : ${movie.reviews}">
                <div class="panel-heading">
                    <div class="panel-title review-panel-title">Reviewer: <span th:text="${review.user.firstName}"></span></div>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li><b>Stars: </b> <span th:text="${review.rating}"></span></li>
                        <li><b>Reviewer's Age: </b> <span th:text="${review.user.age}"></span></li>
                        <li><b>Reviewer's Gender: </b> <span th:text="${review.user.gender}"></span></li>
                        <li><b>Reviewer's Occupation: </b> <span th:text="${review.user.occupation}"></span></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <hr/>

    <section class="container col-md-8 form-container" id="">
        <h3>Review this Movie</h3>
        <form th:action="'/movie/' + ${movie.id} + '/addReview'" method="post">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="rating" value="1"/>
                    One star
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="rating" value="2"/>
                    Two stars
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="rating" value="3"/>
                    Three stars
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" firstName="rating" value="4"/>
                    Four stars
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="rating" value="5"/>
                    Five stars
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Submit Review!</button>
        </form>
    </section>

</body>
</html>